body.account
  .col-sm-3
    width 215px !important
    padding-right 0
    
    ul.menuMinhaContaContent
      padding 0
      li
        overflow: hidden;
        margin: 0 0 10px 0;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #f9f9f9;
        font-size: 12px;
        
        span
          display: block;
          float: left;
          margin: 0 2px 0 0;
          width: 32px;
          height: 32px;
          
          i
            margin: 8px 0 0 8px;
            font-size: 16px;
            font-weight: normal;
        a
          display: block;
          float: left;
          padding: 0px;
          color: #666;
          text-decoration: none;
          font-size: 13px;
          line-height: 32px;
          
  .col-sm-9
    width 835px !important
    float right
    padding-left 0