html
  body
    background #fff
    color #000
    font-size 14px
    font-family Arial,sans-serif
    
    .container
        width 1040px !important
        padding 0 !important
    	
    .breadcrumb
        margin 20px 0
        background-color #fff
        padding-left 0
        
        li
          &::before
            content "\003E" !important
          a
            font-weight normal
            color #000
            font-size 12px
            
          &.active
            color #959595
            font-size 12px
          
          &:first-child::before
            content ''
            display none
        
    .sprite
    	background-image url(sprite.png)
    	
    .no-pd-l
    	padding-left 0
    .no-pd-r
    	padding-right 0
     
    .alg-c
        text-align center
    
    .alg-r
        text-align right
        
    #ajaxBusy
        position fixed
        top 0
        bottom 0
        left 0
        right 0
        background-color #fff
        z-index 1
        
        p
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            text-indent: -9999px
            background url(/arquivos/preloader.gif) no-repeat center center 
