body.contact
  section#contact
    > .container
      > .row
        .col-md-2
          width 195px !important
          padding-right 0
          
          .page-nav
            margin-top 0
            
        .col-md-10
          width 835px !important
          padding-left 0
          float right
          
          h1
            margin 0
            color #000
            font-weight 300
            font-size 24px
            padding 0