body.departamento
  section#department
    .topBanners
      background-image url(bg-talcha-categoria.png)
      background-repeat repeat-x
      
    #content
      padding-top 20px
      
      .sidebar
        width 200px !important
        padding-right 0
        
      .col-sm-10
        width 820px !important
        float right
        padding-left 0
        
    #departmentNavigator
      .menu-departamento
        > h3,
        > h3 + ul
          display none
        
        > h5
          margin: 0 0 0 0;
          padding: 5px 10px;
          border-bottom: 2px solid #eee;
          background: #f9f9f9;
          color: #666;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 12px;
          line-height: 23px;
          cursor: pointer;
          margin-bottom 10px
          position relative
          
          &::after
            display block
            content ''
            position absolute
            top 10px
            right 10px
            width 9px
            height 9px
            background url(sprite.png) no-repeat -625px -452px
            cursor pointer
          
          &.expand::after
            background-position -625px -429px
            
        > ul
          list-style none
          padding 0
          margin 10px 0 20px
          
          li
            a
              color: #666;
              font-size: 12px;
              font-weight: 400
              
              &:hover
                text-decoration underline
          
    .departmentDescription
      h1
        margin 10px 0 10px 0
        color #000
        font-weight 300
        font-size 24px
        
      .description
        font-size 12px
        margin 10px 0
        font-family Arial
        
        p
          line-height 170%
          color #999 !important
          margin 0
          font-size 12px