@font-face {
    font-family: 'Helvetica Neue';
    src: url('/arquivos/lookbook-helvlight.eot.css');
    src: url('/arquivos/lookbook-helvlight.eot.css?#iefix') format('embedded-opentype'),
    url('/arquivos/lookbook-helvlight.woff.css') format('woff'),
    url('/arquivos/lookbook-helvlight.ttf.css') format('truetype'),
    url('/arquivos/lookbook-helvlight.svg.css#helvetica_neue') format('svg');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('/arquivos/lookbook-Neue-Heavy.eot.css');
    src: url('/arquivos/lookbook-Neue-Heavy.eot.css?#iefix') format('embedded-opentype'),
    url('/arquivos/lookbook-Neue-Heavy.woff.css') format('woff'),
    url('/arquivos/lookbook-Neue-Heavy.ttf.css') format('truetype'),
    url('/arquivos/lookbook-Neue-Heavy.svg.css#helvetica_neue') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/arquivos/lookbook-Neue-Light.eot.css');
    src: url('/arquivos/lookbook-Neue-Light.eot.css?#iefix') format('embedded-opentype'),
    url('/arquivos/lookbook-Neue-Light.woff.css') format('woff'),
    url('/arquivos/lookbook-Neue-Light.ttf.css') format('truetype'),
    url('/arquivos/lookbook-Neue-Light.svg.css#helvetica_neue') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/arquivos/lookbook-Condensed-Light.eot.css');
    src: url('/arquivos/lookbook-Condensed-Light.eot.css?#iefix') format('embedded-opentype'),
    url('/arquivos/lookbook-Condensed-Light.woff.css') format('woff'),
    url('/arquivos/lookbook-Condensed-Light.ttf.css') format('truetype'),
    url('/arquivos/lookbook-Condensed-Light.svg.css#helvetica_neue') format('svg');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('/arquivos/lookbook-Neue-Medium.eot.css');
    src: url('/arquivos/lookbook-Neue-Medium.eot.css?#iefix') format('embedded-opentype'),
    url('/arquivos/lookbook-Neue-Medium.woff.css') format('woff'),
    url('/arquivos/lookbook-Neue-Medium.ttf.css') format('truetype'),
    url('/arquivos/lookbook-Neue-Medium.svg.css#helvetica_neue') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Helvetica Neue';
    src: url('/arquivos/lookbook-BoldCond.eot.css');
    src: url('/arquivos/lookbook-BoldCond.eot.css?#iefix') format('embedded-opentype'),
    url('/arquivos/lookbook-BoldCond.woff.css') format('woff'),
    url('/arquivos/lookbook-BoldCond.ttf.css') format('truetype'),
    url('/arquivos/lookbook-BoldCond.svg.css#helvetica_neue') format('svg');
    font-weight: 500;
    font-style: normal;
}