footer
  clear both
  margin 20px 0 0 0
  width 100%
  border-top 2px solid #efefef
  background #000
  
  .container
    padding 25px 0 0
    
  .footer-logo
    width 241px
    height 44px
    text-indent -9999px
    display block
    background-position 0 -529px
    margin 25px 0 30px
  
  .menu-links 
    ul.menu-itens 
      margin 10px 0
      list-style none
      padding 0
      // width 180px

      // &.item-1 
      //   width 130px

      // &.item-2 
      //   width 180px

      // &.item-3 
      //   width 150px

      // &.item-4 
      //   width 100px

      li
        &.parent 
          clear both
          margin 0 0 15px 0

          a 
            color #fff
            font-weight 500
            cursor default
            font-size 12px
            font-family 'Helvetica Neue'
            text-transform uppercase

        &.child 
          margin 5px 0

          a 
            color #666
            font-weight normal
            font-size 13px

  .pagamentos-seguranca 
    .menu-links 
      margin 0 15px 20px
      height 60px
      padding-top 20px
      border-top 1px solid #333
      overflow hidden
      
      .menu-itens
        
        &.item-1 
          width 355px
          margin 0px 0 0 0

        &.item-2 
          width 330px
          margin 5px 0 0 0

          li 
            float left
            margin 0 10px 0 0

            &:last-child 
              margin: 0px
  
  .talcha-news
    h3
      margin 0 0 20px
      text-transform uppercase
      color #fff
      font-size 12px
      
    .newsletter
      h3 
        display none !important
        
      fieldset
        border 0
        padding 0
        
        input#newsletterClientName,
        p
          display none
          
        input#newsletterClientEmail
          float left
          border 1px solid #fff
          width 220px
          padding 6px
          border 0
        
        input#newsletterButtonOK
          color #000
          background #fff
          padding 6px 15px
          display block
          text-transform uppercase
          margin-left 5px
          float left
          border 0
          
          

  .talcha-network
    clear both
    text-align left
    margin-top 30px
    
    h3
      text-transform uppercase
      color #fff
      font-size 14px
      margin-bottom 20px
      
    ul
      list-style none
      padding 0
      li
        float left
        margin-right 20px
        
        a
          color #fff
          font-size 30px  

  .footer-copyright
    border-top 3px solid #80c754
    
    p.texto
      color #fff
      text-align left
      font-size 11px
      line-height 150%
      margin 10px 0
      
    .seloTemp
      background #eee
      border-radius 5px
      margin-top 11px
      padding 10px 20px
      color #333
      float right
      