header    
  .top
    background #fff
    height 37px
    overflow hidden
    
    .duvidasCheckout
      display none
    
    .welcome-msg 
      float left
      margin 0
      color #000
      text-align left
      font-size 11px
      font-family tahoma
      line-height 37px
      
      a
        color #000
        text-decoration underline

      // &.logged-out
    
    ul.social-media
      margin 0
      float left
      margin-left 10px
      
      li
        width 20px
        margin-left 5px
        
        a
          padding 8px 0
          font-size 18px
          
          i
            &.fa-facebook-square
              color #3b5998
            
            &.fa-twitter-square
              color #00aced
              
            &.fa-google-plus-square
              color #dd4b39
              
    .menu-top
      margin 0
      li
        margin-left 5px
        a
          color #000
          font-size 11px
          padding 10px 5px
          
          &:hover
            text-decoration none
            color #666
            background-color transparent
            
          i
            margin-right 5px
            
        &:last-child
          a
            padding-right 0
            
  .botton
    background #000
    
    .logo
      background-position -63px -57px
      width 200px
      height 67px
      display block
      text-indent -9999px
      margin 15px 0
      
    .search-wrapper
      margin-top 24px
      border 1px solid #fff
      background #fff
      position relative
      width 83%
      float right
      
      &::after
        font-family 'FontAwesome'
        content "\f002"
        font-size 18px
        color #8C8686
        position absolute
        display block
        top 3px
        right 10px
      
      fieldset
        border 0
        padding 0
        
        legend,
        label,
        select
          display none !important
          
        input.fulltext-search-box
          width 100%
          border 0
          padding 6px 10px
          
        input.btn-buscar
          background-color transparent
          border 0
          position absolute
          text-indent -999px
          width 30px
          right 0
          z-index 1
          
    .shopping-cart-wrapper
      float: right;
      margin: 18px 0 15px 25px;
      padding: 0;
      width: 137px;
      height: 45px;
      background: url(sprite.png) no-repeat -364px -527px;
      text-align: center;
      
      a.shopping-cart
        display: block;
        padding: 6px 0 3px 0;
        width: 105px;
        color: #fff !important;
        text-align: left;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        margin-left 30px
        
        i
          float: right;
          font-size: 16px;
          margin-right: 5px;