body.home
  
  section
    margin-top 10px
    
    .section-title
      h3
        background-image url(bg-tit.png)
        color #000
        text-transform uppercase
        font-weight 100
        font-size 18px
        background-position 0 6px
        background-repeat repeat-x
        width 100%
        text-align center
        margin-bottom 20px
        line-height 25px
        
        span
          background #fff
          text-align center
          padding 5px 40px
          margin-top -20px
          position relative
    h4
      font-size 16px
      font-weight bold
      
    &#slide
      background url(bg-talcha-home.png) repeat-x top center
      height 400px
      margin-top 0
      overflow hidden
      
      .flexslider
        border 0 !important
        margin 0
        height 400px
        overflow hidden
        background transparent !important
        
        .flex-viewport
          height 400px
          max-height 400px
        
        .flex-control-nav
          bottom 5px
        
        .flex-direction-nav
          a
            overflow inherit !important 
            
          .flex-nav-prev
            a.flex-prev
              // opacity .7 !important
              // left 10px
              
              &::before
                font-family 'FontAwesome'
                content "\f053"
                color #ddd
                
              &:hover::before
                color #333
                
          .flex-nav-next
            a.flex-next
              // opacity .7 !important
              // right 10px
              
              &::before
                font-family 'FontAwesome'
                content "\f054"
                color #ddd
                
              &:hover::before
                color #333
            

      .slides
        margin 0
        list-style none
        
        img
          height 431px !important
        

    &#saiba-mais
      .vitrine-cha
        .title-cha
          border-radius 0 0 10px 10px
          height 41px
          margin-bottom 20px
          
          h3
            display inline-block
            padding-left 10px
            float left
            margin 0
            height 24px
            color #fff
            text-transform uppercase
            line-height 40px
            
            a
              font-size 14px
              color #fff
              font-weight bold
              font-family 'Helvetiva Neue', sans-serif
            
          a
            display inline-block
            &.ver-todos
              float right
              padding 10px
              border-radius 0 0 10px
              color #fff

        .container-cha
          overflow hidden
          margin-bottom 15px
          height 185px
          
          .image-cha
            float left
            width 40%
          
          .content-cha
            width 60%
            float right
            padding-top 0
            padding-left 15px
            
            p
              padding 0
              font-size 12px
              margin 0
            
        .list-cha
          clear both
          border 1px solid #ccc
          border-top 0
          border-radius 0 0 10px 10px
          -moz-box-shadow 3px 3px 2px #eee
          -webkit-box-shadow 3px 3px 2px #eee
          box-shadow 3px 3px 2px #eee
          height 145px
          
          .title-bar
            display inline-block
            padding 10px
            
            .title-lista-cha
              font-weight bold
              text-transform uppercase
              font-family 'Helvetiva Neue', Arial, sans-serif
              font-size 13px
              
            a
              float right
              text-decoration underline
              color #111
              font-size 12px
          
          .lista-produto-cha
            ul
              padding 0 10px
              list-style none
              margin 0
              
              li
                overflow hidden
                padding-top 7px
                
                h2
                  font-size 12px
                  float left
                  margin 0
                  margin-bottom 5px
                  
                  a
                    color #111
                    font-weight normal
                    font-size 14px
                
                .price-box
                  float right
                  font-size 11px
                  color #f90
                  
                  p
                    margin 0
                
                &+li
                  border-top 1px solid #eee

        &.cha-preto
          .title-cha
            background #333
            
            a.ver-todos
              background #000
          
          .list-cha
            .title-bar
              width 100%
              border-top 3px solid #333
              
              .title-lista-cha
                color #333
              
        &.cha-verde
          .title-cha
            background #80c754
            
            a.ver-todos
              background #58b450
              
          .list-cha
            .title-bar
              width 100%
              border-top 3px solid #80c754
              
              .title-lista-cha
                color #80c754
              
        &.cha-oolong
          .title-cha
            background #00c6d1
            
            a.ver-todos
              background #00a1c0

          .list-cha
            .title-bar
              width 100%
              border-top 3px solid #00c6d1
              
              .title-lista-cha
                color #00c6d1
              