body.institucional
  .page-nav
    li
      a
        color #111
        padding 5px 15px 5px 0
        
        &:hover
          background-color transparent
          text-decoration underline
          
  .page-title
    font-size 24px
    text-transform uppercase
    margin 0
    margin-bottom 15px
    
  .page-content
    min-height 400px