nav
  > .nav-1
    height 42px
    margin 0
    border-top 1px solid #666
    background #000
    
    > .container
      text-align center
      > ul.nav
        margin 0
        padding 0
        display inline-block
        
        > li
          white-space nowrap
          text-align left
          padding 7px 0
          display list-item
          
          > a
            display block
            padding 5px 10px
            color #fff
            font-weight 400
            line-height 150%
            font-size 12px
            text-transform uppercase
            font-family 'Helvetica Neue', Arial
          
          > .subMenu
            display none
            position absolute
            border 1px solid #fff
            background #fff
            top 100%
            z-index 10
            box-shadow 0 5px 5px hsla(0,0%,0%,0.0980392)
            box-shadow 0 5px 5px rgba(0,0,0,0.1)
            margin 0
            width 240px
            padding 10px
            min-height 100px
            
            > ul
              width 240px
              padding 0 0 15px 15px
              
              > li
                list-style-type square
                color #eee
                float left
                width 202px
                
                > a
                  color #666
                  padding-left 10px
                  font-weight normal
                  font-size 13px
                  line-height 125%
                  display block
                  padding 5px 10px
                  text-transform uppercase
                  font-family 'Helvetica Neue', Arial
                  
                  &:hover
                    text-decoration none
                    background-color #eee
                    
          &:hover
            background #fff
            
            > a
              color #000
              background-color transparent
              
            > .subMenu
              display block
              
  > .nav-2
    height 42px !important
    
    ul#nav
      list-style none
      margin 0
      padding 0
      position relative
      height 42px
      
      > li
        float left 
        margin-right 16px
        padding 10px 0
        
        > a
          line-height: 22px;
          padding: 14px 0;
          font-size: 14px;
          color #000
          
          .icon
            width 16px
            height 22px
            display block
            background-image url(/arquivos/sprite.png)
            background-repeat no-repeat
            float left
            margin 0 10px 0 0
          
          &:hover
            text-decoration none
        
        &.cha-branco
          a
            color #999
            .icon
              background-position -1px -127px
          .subMenu
            border 1px solid #f7f5eb
            border-top 5px solid #f7f5eb
            
            .menuTitulo,
            a
              color #999 !important
            
        &.cha-verde
          a
            color #77b921
            .icon
              background-position -23px -127px
          .subMenu
            border 1px solid #77b921
            border-top 5px solid #77b921
            
            .menuTitulo
              color #77b921 !important
            
        &.cha-oolong
          a
            color #58ddfa
            .icon
              background-position -46px -127px
              
          .subMenu
            border 1px solid #58ddfa
            border-top 5px solid #58ddfa
            
            .menuTitulo
              color #58ddfa !important
            
        &.cha-preto
          a
            color #000
            .icon
              background-position -70px -127px
          .subMenu
            border 1px solid #000
            border-top 5px solid #000
            
            .menuTitulo
              color #000 !important
            
        &.mate
          a
            color #f49562
            .icon
              background-position -93px -127px
          
          .subMenu
            border 1px solid #f49562
            border-top 5px solid #f49562
            
            .menuTitulo
              color #f49562 !important
            
        &.infusoes
          a
            color #7861ca
            .icon
              background-position -140px -127px
          .subMenu
            border 1px solid #7861ca
            border-top 5px solid #7861ca
            
            .menuTitulo
              color #7861ca !important
            
        &.rooibos-amp-honeybush
          a
            color #E9007E
            .icon
              background-position -116px -127px    
          .subMenu
            border 1px solid #e9007e
            border-top 5px solid #e9007e
            
            .menuTitulo
              color #e9007e !important
            
        &.flowering-teas
          a
            color #77b921
            .icon
              background-position -23px -127px
              
          .subMenu
            border 1px solid #77b921
            border-top 5px solid #77b921
            
            .menuTitulo
              color #77b921 !important

        &:hover,
        &.active
          .subMenu 
            display block
            left 0
            
        .subMenu
          width: 1020px;
          padding: 10px;
          min-height: 250px;
          display: none;
          position: absolute;
          border: 1px solid #fff;
          background: #fff;
          top: 100%;
          z-index: 10;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          margin: 0px 0 0 0
          
          .navStaticBlock
            float left
            width 1040px
            display block
            margin 0 0 0 0px
            overflow hidden
            
            .widget
              display inline
              
              .menuTitulo
                text-transform uppercase
                margin 0px
                height 25px
                text-align left
                display block
                
              .menuFiltroWrap
                float left
                margin 15px 30px 15px 15px
                
                .menuFiltro
                  ul
                    overflow hidden
                    margin 0
                    list-style none
                    padding 0
                    
                    li
                      line-height 12px
                      border 1px solid #eee
                      float left
                      margin 0 10px 20px 0
                      
                      a
                        color: #666;
                        font-size: 12px;
                        line-height: 12px;
                        padding: 6px 10px;
                        display: block;
                        
                      &:hover
                        background-color #eee
                        a
                          text-decoration none
                        
              .menuProduto
                float: left;
                color: #666;
                padding: 10px 0px 10px 40px;
                border-left: 1px dotted #ccc;
                width: 430px;
                min-height: 220px;
                text-align: left;
                
                .produto-destaque-menu
                  .product-image
                    padding: 0px;
                    border: 1px solid #f5f5f5;
                    width: 160px;
                    height: 160px;
                    float: left;
                    margin: 0 20px 0 0;
                  
                  .produto-conteudo-menu
                    float: left;
                    width: 200px;
                    
                    .product-name
                      font-weight: normal;
                      font-size: 18px;
                      a
                        border: none;
                        padding: 0px
                        color: #666
                        font-weight: normal;
                        font-size 14px
                        
                    .ratings
                      margin: 7px 0;
                      font-size: 11px;
                      line-height: 1.25;
                      clear: both;
                      
                    .price-box
                      font-size: 13px;
                      line-height: 100%;
                      margin-bottom: 20px;
                      
                      .preco-parcelado
                        strong
                          color #f90
                          
                    button
                      vertical-align: middle;
                      display: block;
                      overflow: hidden;
                      margin: 0;
                      padding: 0;
                      border: none;
                      background: none;
                      cursor: pointer;
                      
                      .button-wrap
                        background #80c754
                        border-bottom 3px solid #58b450
                        padding 0px
                        display block
                        color #fff
                        cursor pointer
                        overflow hidden
                        height 30px
                        font-weight bold
                        
                        .icon-wrap
                          padding: 0px 10px;
                          line-height: 32px;
                          font-size: 16px;
                          float: left;
                          border-radius: 4px 0 0 4px;
                          

                        .button-title
                          float: left;
                          padding: 0px 12px;
                          font-family: 'Helvetica Neue',Arial,sans-serif;
                          font-weight: 500;
                          line-height: 32px;
                          font-size: 13px;
                          

                    
          