body.novo-no-cha
  section
    padding-top 15px
    
    .page-title
      font-size 24px
      text-transform capitalize
      margin 0
      margin-bottom 15px
      line-height 1.35
      font-weight 300
        
    .page-content
      min-height 400px

  &.main
    h3
      text-align center
      font-weight normal
      color #898989
      font-size 16px
      margin 30px 0
      
    ul.list-cha
      width 620px
      margin 0 auto
      overflow hidden
      padding 0 !important
      
      li
        float left
        text-align center
        width 130px
        height 168px
        
        a
          width: 130px;
          height: 168px;
          display: block;
          text-indent: -9999em;
          background: url('/arquivos/list-cha.png') no-repeat;
          
        &.tipo-cha
          a
            background-position 0 0
            
        &.preparando-cha
          a
            background-position -160px 0
            
        &.historia-cha
          a
            background-position -320px 0
            
        &.dicas
          a
            background-position -480px 0
            
        &+li
          margin-left 33px