body
  .prateleira
    ul
      list-style none
      padding 0
      li
        float left
        width 33.3333333333%
        margin 0
        
        .productImage
          border 1px solid #eee
          width 240px
          height 240px
          
    &::after
      content ''
      display block
      clear both