html body #ajaxBusy
  display none !important
  
body.produto
  section#product
    .apresentacao
      #include
        #image
          border 1px solid #eee
          text-align center
          
      ul.thumbs
        list-style none
        padding 0
        
        li
          float left
          margin 0 10px 10px 0
          padding 0
          border 1px solid #fff
          padding 0px
          background #fff
          
          a
            display block
            padding 4px
            border 1px solid #eee
          
    .well
      h1.lead
        color #000
        font-size 18px
        font-family Tahoma
        margin 0 0 10px 0
        font-weight normal
      
      .productDescriptionShort
        color #000
        line-height 150%
        font-size 13px
        margin 0
        
      .seletorSku
        border-bottom: 1px solid #eee;
        margin: 15px 0 0;
        
        .skuList
          background none repeat scroll 0 0 #fcfcfc
          border-left 1px solid #eee
          border-right 1px solid #eee
          border-top 1px solid #eee
          clear both
          overflow hidden
          height 36px
          padding 0
          text-align center
          
          .imageSku,
          .nomeSku,
          .preco
            border-left 1px solid #eee
            border-right 1px solid #eee
            float left
            height 36px
            line-height 36px
            padding 0
            text-align center
          
          .seller-data,
          a.buy-button,
          a:last-child
            display none
            
          .imageSku
            background none repeat scroll 0 0 #fff
            border medium none
            width 50px
            text-align center
            
            img
              width 30px
              max-width 30px
              height 30px
              max-height 30px
          
          .nomeSku
            width 60%
            text-align left
            padding-left 10px

          .preco
            width 78px
            float right
            
            br,
            .valor-dividido,
            .valor-de
              display none
              
            .valor-por
              visibility hidden
              
              strong
                visibility visible
                margin-left -19px
                margin-right 7px
                font-weight normal
                font-size 12px
    
    .review
      #resenha
        #opiniao_de_usuario
          .user-review
            h4,
            .avaliacao .media,
            .avaliacao .rating
              display none
              
            .avalie-produto
              h5
                margin: 0 0 0 0;
                padding: 10px 20px;
                border-bottom: 2px solid #eee;
                background: #f9f9f9;
                color: #666;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                cursor: pointer;
                font-family: Tahoma;
                margin: 10px 0;