<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title>Loja Online</title>
    <vtex:metaTags/>    
    <vtex:template id="commonScripts" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <!--  SubTemplate: Header -->
                <vtex:template id="Header" />
                <!-- /SubTemplate: Header -->

                <div id="content" class="row-fluid">
                    <div class="span2 sidebar">
                        <div id="departmentNavigator">
                            <!--  Controle: navegador de departamento -->
                            <vtex.cmc:searchNavigator />
                            <!-- /Controle: navegador de departamento -->
                        </div>                                      
                    </div>
                    <div id="mainContent" class="span10">
                        <div id="boxBreadCrumb" class="clearfix">
                            <vtex.cmc:breadCrumb />
                        </div>
                        
                       <div id="topBanners">
                            <!--  placeholder -->
                            <vtex:contentPlaceHolder id="Banner-Principal" />
                            <!-- /placeholder -->
                        </div>
                                                                
                        <div class="title-category">
                            <!--  Controle: Titulo -->
                            <vtex.cmc:searchTitle />
                            <!-- /Controle: Titulo -->
                        </div>
                    
                        <div id="collections">
                            <div class="giftlist-insert">
                                <vtex.cmc:GiftListInsertSkuV2/>
                            </div>
                            <div class="collectionWrap">
                                <!--  Controle: Resultado da busca / Lista de produtos -->
                                <vtex.cmc:searchResult layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" itemCount="12" columnCount="3" />
                                <!--  /Controle: Resultado da busca / Lista de produtos -->
                            </div>
                        </div>
                    </div>                    
                </div>
                
                <!--  SubTemplate: footer -->                  
                <div class="footer clearfix">                    
                    <vtex:template id="Footer" />                    
                </div>                                    
                <!-- /SubTemplate: footer -->
            </div>
        </div>
    </div>
    <script src="/arquivos/lojavazia-general.js"></script>
</body>
</html>