<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
    <title> Modelo Vtex</title>
    <vtex:metaTags/>
    <link href="http://fonts.googleapis.com/css?family=Oswald:400,300" rel="stylesheet" type="text/css" />
    <link href="/arquivos/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/arquivos/prateleira.css" rel="stylesheet" type="text/css" />
    <link href="/arquivos/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- ><link href="/arquivos/style.css" rel="stylesheet" type="text/css" /> -->
    <script src="/arquivos/bootstrap.min.js"></script>
    <vtex:template id="commonScripts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body style="background:#0b4577 !important">
    <div class="container">
        <div class="row">
            <div class="span12">
            
                <!--  SubTemplate: Header -->
                <vtex:template id="Header" />
                <!-- /SubTemplate: Header -->
                    
                <div id="content" class="row-fluid">
                    <div class="sidebar span2">
                        
                        <vtex.cmc:departmentNavigator/>
                    </div>
            		<div id="collections" class="span10">
                        <div class="giftlist-insert">
                           <vtex:contentPlaceHolder id="bannersegmentado" />
                        </div>
            			<div class="collectionWrap">
                            <vtex:contentPlaceHolder id="Destaques" />
                        </div>
                        
                        <div class="collectionWrap">
                            <vtex:contentPlaceHolder id="Lançamentos" />   
                        </div>
            		</div>
                </div>
                
                <div class="footer clearfix">
                    <!--  SubTemplate: Footer -->
                    <vtex:template id="Footer" />
                    <!-- /SubTemplate: Footer -->
                </div>
            </div>
        </div>
    </div>
    <script src="/arquivos/lojavazia-general.js"></script>
</body>
</html>
